.body{
    font-family: 'Montserrat', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
}

span{
    display: block;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.container-wrap{
    width: 90%;
    margin: 0 auto;
}

.ma{
    position: relative;
    overflow: hidden;
}

@media (max-width: 532px){

    

}