.button{
    padding: 25px 27px;
    background-color: #3ada2e;
    border: none;
}



.btn-link{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.button-o{
    padding: 20px 65px;
    border: none;
    background-color: #3ada2e;
    

}


.button-t{
     text-decoration: none;
     color: #fff;
    margin-top: 22px;
    font-weight: bold;
}

.button-t-link{
    text-decoration: none;
}

